html {
    @include font(16, 0, 22);
    @include font-poppins-medium;
}
html,
body {
    overflow-x: hidden;
}

.logo {
    display: block;
    svg {
        height: 100%;
        width: auto;
    }
}
#gradient,
#gradient2 {
    .dark-pink {
        stop-color: $dark-pink;
    }
    .orange {
        stop-color: $orange;
    }
}

.wrapper {
    max-width: rem(1465);
    margin: auto;
    padding: 0 rem(30);
    @include desktop-sm {
        padding: 0 rem(300);
    }
    &.wide {
        max-width: rem(1400);
        margin: auto;
        @include desktop-sm {
            padding: 0 rem(150);
        }
    }
}

ul.no-bullets,
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.separator {
    pointer-events: none;
    @include font-firacode-semibold;
    @include font(15, 0, 18);
    background-color: $dark-pink;
    background-image: $pink-orange-1;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @include desktop-sm {
        padding: rem(75) 0;
    }
    span {
        white-space: nowrap;
        &.line-2 {
            margin-left: rem(-189);
        }
    }
}

.xl-title {
    @include font(27, 0, 42);
    @include desktop-sm {
        @include font(50, 0, 75);
    }

    span {
        &.gradient {
            background-color: $dark-pink;
            background-image: $pink-orange-1;
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }
        &.bold {
            @include font-poppins-bold;
        }
        &.italic {
            @include font-poppins-italic;
        }
    }
}

.lg-title {
    @include font(25, 0, 38);
    @include desktop-sm {
        @include font(40, 0, 65);
    }
}

.section {
    padding: rem(100) 0;
}

.intro {
    height: calc(100vh - 100px);
    margin-top: rem(-68);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .wrapper {
        @include desktop-sm {
            display: grid;
            grid-template-columns: minmax(0, 2.4fr) minmax(0, 1fr);
            grid-column-gap: rem(100);
        }
    }
    span {
        @include desktop-sm {
            display: block;
        }
    }
}

.intro {
    .arrow {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: rem(40);
        animation: arrowBounce 1.5s infinite ease-in-out;
    }
}
