// add fonts

@font-face {
    font-family: "Spectral-ExtraBold";
    src: url("../../assets/fonts/Spectral-ExtraBold.woff2") format("woff2"),
        url("../../assets/fonts/Spectral-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/Poppins-Medium.woff2") format("woff2"),
        url("../../assets/fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../../assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../../assets/fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../../assets/fonts/Poppins-Bold.woff2") format("woff2"),
        url("../../assets/fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Italic";
    src: url("../../assets/fonts/Poppins-Italic.woff2") format("woff2"),
        url("../../assets/fonts/Poppins-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FiraCode-SemiBold";
    src: url("../../assets/fonts/FiraCode-SemiBold.woff2") format("woff2"),
        url("../../assets/fonts/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// font mixins
@mixin font-spectral-extra-bold {
    font-family: "Spectral-ExtraBold", serif;
    font-weight: 700;
}

@mixin font-poppins-medium {
    font-family: "Poppins-Medium", sans-serif;
    font-weight: 500;
}

@mixin font-poppins-semibold {
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
}

@mixin font-poppins-bold {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}

@mixin font-poppins-italic {
    font-family: "Poppins-Italic", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin font-firacode-semibold {
    font-family: "FiraCode-SemiBold", sans-serif;
    font-weight: 600;
}
