// set base font size
$base-font-size: 16;

// to rem
$rem: 16;
@function rem($val) {
    @return calc($val / $rem) + rem;
}

// set base container size
$container-width: rem(1400);

// transitions
@mixin basic-fade {
    transition: all 250ms ease-in-out;
}

// font size, tracking, leading
@mixin font($font-size, $tracking, $leading) {
    font-size: calc($font-size / $base-font-size) * 1rem;
    letter-spacing: $tracking + px;
    line-height: calc($leading / $base-font-size) * 1rem;
}

// media queries

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop-sm {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1850px) {
        @content;
    }
}

@mixin desktop-lg {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin desktop-xl {
    @media screen and (min-width: 1921px) {
        @content;
    }
}
