// variables

$dark-pink: #da226f;
$orange: #fa752b;

$white: #ffffff;
$black: #000000;

// gradients
$pink-orange-1: linear-gradient(125deg, $dark-pink 20%, $orange 85%);
$pink-orange-2: linear-gradient(150deg, $dark-pink 50%, $orange 100%);
