#tools {
    .grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
                0,
                1fr
            );
        grid-column-gap: rem(110);
        grid-row-gap: rem(95);
        margin-top: rem(95);

        .tool-indiv {
            position: relative;
            padding-bottom: rem(50);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            svg {
                height: rem(65);
            }
            span {
                @include font(22, 0, 32);
                display: block;
                margin-top: rem(22);
                position: absolute;
                bottom: 0;
                margin: 0 rem(-20);
            }

            .icon {
                &.vs-code {
                    .vscode-mixblendmode {
                        mix-blend-mode: overlay;
                    }
                }
                &.adobe {
                    svg {
                        image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                &.a11y {
                    svg {
                        enable-background: new 0 0 140.2 139.5;
                        path {
                            fill: #0084b9;
                        }
                    }
                }
            }
        }
    }
}
